# **Step 1(df1):**
ambil url https://kodeposonline.com/ untuk mendapatkan data "provinsi" dan "jumlah desa", lalu menyimpannya di df1:

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import re

url_1 = 'https://kodeposonline.com/'

response = requests.get(url_1)
print(response)


html_page = bs(response.content, 'html.parser') #beautifulsoup
html_page


# find all <tr>
tableData = html_page.table.find_all('tr')
len(tableData)

tableData = html_page.table.find_all('tr')
tableData

<Response [200]>

[<tr class="text-center">
 <th class="text-info text-center">No.</th>
 <th class="text-info text-center">Provinsi</th>
 <th class="text-info text-center">Σ Kodepos</th>
 <th class="text-info text-center">Σ Kabupaten</th>
 <th class="text-info text-center">Σ Kecamatan</th>
 <th class="text-info text-center">Σ Kelurahan</th>
 <th class="text-info text-center">Σ Pulau</th>
 </tr>,
 <tr>
 <td>1</td>
 <td>Bali</td>
 <td align="center"><a href="/11/Bali">716</a></td>
 <td align="center"><a href="/12/Bali">9</a></td>
 <td align="center"><a href="/16/Bali">57</a></td>
 <td align="center">716</td>
 <td align="center">85</td>
 </tr>,
 <tr>
 <td>2</td>
 <td>Bangka Belitung</td>
 <td align="center"><a href="/11/Bangka Belitung">387</a></td>
 <td align="center"><a href="/12/Bangka Belitung">7</a></td>
 <td align="center"><a href="/16/Bangka Belitung">47</a></td>
 <td align="center">387</td>
 <td align="center">950</td>
 </tr>,
 <tr>
 <td>3</td>
 <td>Banten</td>
 <td align="center"><a href="/11/Banten">1551</a></td>
 <td align="center"><a href="/12/Banten">8</a></td>
 <td align="center"><a href="/16/Banten">155</a></td>
 <td align="center">1551</td>
 <td align="center">131</td>
 </tr>,
 <tr>
 <td>4</td>
 <td>Bengkulu</td>
 <td align="center"><a href="/11/Bengkulu">1513</a></td>
 <td align="center"><a href="/12/Bengkulu">10</a></td>
 <td align="center"><a href="/16/Bengkulu">126</a></td>
 <td align="center">1513</td>
 <td align="center">47</td>
 </tr>,
 <tr>
 <td>5</td>
 <td>DI Yogyakarta</td>
 <td align="center"><a href="/11/DI Yogyakarta">438</a></td>
 <td align="center"><a href="/12/DI Yogyakarta">5</a></td>
 <td align="center"><a href="/16/DI Yogyakarta">78</a></td>
 <td align="center">438</td>
 <td align="center">27</td>
 </tr>,
 <tr>
 <td>6</td>
 <td>DKI Jakarta</td>
 <td align="center"><a href="/11/DKI Jakarta">267</a></td>
 <td align="center"><a href="/12/DKI Jakarta">6</a></td>
 <td align="center"><a href="/16/DKI Jakarta">44</a></td>
 <td align="center">267</td>
 <td align="center">218</td>
 </tr>,
 <tr>
 <td>7</td>
 <td>Gorontalo</td>
 <td align="center"><a href="/11/Gorontalo">729</a></td>
 <td align="center"><a href="/12/Gorontalo">6</a></td>
 <td align="center"><a href="/16/Gorontalo">77</a></td>
 <td align="center">729</td>
 <td align="center">136</td>
 </tr>,
 <tr>
 <td>8</td>
 <td>Jambi</td>
 <td align="center"><a href="/11/Jambi">1561</a></td>
 <td align="center"><a href="/12/Jambi">11</a></td>
 <td align="center"><a href="/16/Jambi">138</a></td>
 <td align="center">1561</td>
 <td align="center">20</td>
 </tr>,
 <tr>
 <td>9</td>
 <td>Jawa Barat</td>
 <td align="center"><a href="/11/Jawa Barat">5960</a></td>
 <td align="center"><a href="/12/Jawa Barat">27</a></td>
 <td align="center"><a href="/16/Jawa Barat">626</a></td>
 <td align="center">5960</td>
 <td align="center">131</td>
 </tr>,
 <tr>
 <td>10</td>
 <td>Jawa Tengah</td>
 <td align="center"><a href="/11/Jawa Tengah">8559</a></td>
 <td align="center"><a href="/12/Jawa Tengah">35</a></td>
 <td align="center"><a href="/16/Jawa Tengah">573</a></td>
 <td align="center">8559</td>
 <td align="center">296</td>
 </tr>,
 <tr>
 <td>11</td>
 <td>Jawa Timur</td>
 <td align="center"><a href="/11/Jawa Timur">8499</a></td>
 <td align="center"><a href="/12/Jawa Timur">38</a></td>
 <td align="center"><a href="/16/Jawa Timur">664</a></td>
 <td align="center">8499</td>
 <td align="center">421</td>
 </tr>,
 <tr>
 <td>12</td>
 <td>Kalimantan Barat</td>
 <td align="center"><a href="/11/Kalimantan Barat">1997</a></td>
 <td align="center"><a href="/12/Kalimantan Barat">14</a></td>
 <td align="center"><a href="/16/Kalimantan Barat">174</a></td>
 <td align="center">1997</td>
 <td align="center">339</td>
 </tr>,
 <tr>
 <td>13</td>
 <td>Kalimantan Selatan</td>
 <td align="center"><a href="/11/Kalimantan Selatan">2007</a></td>
 <td align="center"><a href="/12/Kalimantan Selatan">13</a></td>
 <td align="center"><a href="/16/Kalimantan Selatan">152</a></td>
 <td align="center">2007</td>
 <td align="center">320</td>
 </tr>,
 <tr>
 <td>14</td>
 <td>Kalimantan Tengah</td>
 <td align="center"><a href="/11/Kalimantan Tengah">1572</a></td>
 <td align="center"><a href="/12/Kalimantan Tengah">14</a></td>
 <td align="center"><a href="/16/Kalimantan Tengah">136</a></td>
 <td align="center">1572</td>
 <td align="center">65</td>
 </tr>,
 <tr>
 <td>15</td>
 <td>Kalimantan Timur</td>
 <td align="center"><a href="/11/Kalimantan Timur">1029</a></td>
 <td align="center"><a href="/12/Kalimantan Timur">10</a></td>
 <td align="center"><a href="/16/Kalimantan Timur">103</a></td>
 <td align="center">1029</td>
 <td align="center">209</td>
 </tr>,
 <tr>
 <td>16</td>
 <td>Kalimantan Utara</td>
 <td align="center"><a href="/11/Kalimantan Utara">482</a></td>
 <td align="center"><a href="/12/Kalimantan Utara">5</a></td>
 <td align="center"><a href="/16/Kalimantan Utara">50</a></td>
 <td align="center">482</td>
 <td align="center">161</td>
 </tr>,
 <tr>
 <td>17</td>
 <td>Kepulauan Riau</td>
 <td align="center"><a href="/11/Kepulauan Riau">416</a></td>
 <td align="center"><a href="/12/Kepulauan Riau">7</a></td>
 <td align="center"><a href="/16/Kepulauan Riau">66</a></td>
 <td align="center">416</td>
 <td align="center">2408</td>
 </tr>,
 <tr>
 <td>18</td>
 <td>Lampung</td>
 <td align="center"><a href="/11/Lampung">2640</a></td>
 <td align="center"><a href="/12/Lampung">15</a></td>
 <td align="center"><a href="/16/Lampung">225</a></td>
 <td align="center">2640</td>
 <td align="center">188</td>
 </tr>,
 <tr>
 <td>19</td>
 <td>Maluku</td>
 <td align="center"><a href="/11/Maluku">1224</a></td>
 <td align="center"><a href="/12/Maluku">11</a></td>
 <td align="center"><a href="/16/Maluku">118</a></td>
 <td align="center">1224</td>
 <td align="center">1422</td>
 </tr>,
 <tr>
 <td>20</td>
 <td>Maluku Utara</td>
 <td align="center"><a href="/11/Maluku Utara">1179</a></td>
 <td align="center"><a href="/12/Maluku Utara">10</a></td>
 <td align="center"><a href="/16/Maluku Utara">113</a></td>
 <td align="center">1180</td>
 <td align="center">1474</td>
 </tr>,
 <tr>
 <td>21</td>
 <td>Nanggroe Aceh Darussalam (NAD)</td>
 <td align="center"><a href="/11/Nanggroe Aceh Darussalam (NAD)">6474</a></td>
 <td align="center"><a href="/12/Nanggroe Aceh Darussalam (NAD)">23</a></td>
 <td align="center"><a href="/16/Nanggroe Aceh Darussalam (NAD)">289</a></td>
 <td align="center">6474</td>
 <td align="center">663</td>
 </tr>,
 <tr>
 <td>22</td>
 <td>Nusa Tenggara Barat (NTB)</td>
 <td align="center"><a href="/11/Nusa Tenggara Barat (NTB)">1137</a></td>
 <td align="center"><a href="/12/Nusa Tenggara Barat (NTB)">10</a></td>
 <td align="center"><a href="/16/Nusa Tenggara Barat (NTB)">116</a></td>
 <td align="center">1137</td>
 <td align="center">864</td>
 </tr>,
 <tr>
 <td>23</td>
 <td>Nusa Tenggara Timur (NTT)</td>
 <td align="center"><a href="/11/Nusa Tenggara Timur (NTT)">3268</a></td>
 <td align="center"><a href="/12/Nusa Tenggara Timur (NTT)">22</a></td>
 <td align="center"><a href="/16/Nusa Tenggara Timur (NTT)">306</a></td>
 <td align="center">3268</td>
 <td align="center">1192</td>
 </tr>,
 <tr>
 <td>24</td>
 <td>Papua</td>
 <td align="center"><a href="/11/Papua">5225</a></td>
 <td align="center"><a href="/12/Papua">29</a></td>
 <td align="center"><a href="/16/Papua">524</a></td>
 <td align="center">5225</td>
 <td align="center">598</td>
 </tr>,
 <tr>
 <td>25</td>
 <td>Papua Barat</td>
 <td align="center"><a href="/11/Papua Barat">1715</a></td>
 <td align="center"><a href="/12/Papua Barat">13</a></td>
 <td align="center"><a href="/16/Papua Barat">203</a></td>
 <td align="center">1715</td>
 <td align="center">2486</td>
 </tr>,
 <tr>
 <td>26</td>
 <td>Riau</td>
 <td align="center"><a href="/11/Riau">1835</a></td>
 <td align="center"><a href="/12/Riau">12</a></td>
 <td align="center"><a href="/16/Riau">163</a></td>
 <td align="center">1835</td>
 <td align="center">139</td>
 </tr>,
 <tr>
 <td>27</td>
 <td>Sulawesi Barat</td>
 <td align="center"><a href="/11/Sulawesi Barat">647</a></td>
 <td align="center"><a href="/12/Sulawesi Barat">6</a></td>
 <td align="center"><a href="/16/Sulawesi Barat">69</a></td>
 <td align="center">647</td>
 <td align="center">41</td>
 </tr>,
 <tr>
 <td>28</td>
 <td>Sulawesi Selatan</td>
 <td align="center"><a href="/11/Sulawesi Selatan">3038</a></td>
 <td align="center"><a href="/12/Sulawesi Selatan">24</a></td>
 <td align="center"><a href="/16/Sulawesi Selatan">306</a></td>
 <td align="center">3038</td>
 <td align="center">300</td>
 </tr>,
 <tr>
 <td>29</td>
 <td>Sulawesi Tengah</td>
 <td align="center"><a href="/11/Sulawesi Tengah">2017</a></td>
 <td align="center"><a href="/12/Sulawesi Tengah">13</a></td>
 <td align="center"><a href="/16/Sulawesi Tengah">174</a></td>
 <td align="center">2007</td>
 <td align="center">978</td>
 </tr>,
 <tr>
 <td>30</td>
 <td>Sulawesi Tenggara</td>
 <td align="center"><a href="/11/Sulawesi Tenggara">2197</a></td>
 <td align="center"><a href="/12/Sulawesi Tenggara">17</a></td>
 <td align="center"><a href="/16/Sulawesi Tenggara">209</a></td>
 <td align="center">2197</td>
 <td align="center">651</td>
 </tr>,
 <tr>
 <td>31</td>
 <td>Sulawesi Utara</td>
 <td align="center"><a href="/11/Sulawesi Utara">1822</a></td>
 <td align="center"><a href="/12/Sulawesi Utara">15</a></td>
 <td align="center"><a href="/16/Sulawesi Utara">167</a></td>
 <td align="center">1822</td>
 <td align="center">668</td>
 </tr>,
 <tr>
 <td>32</td>
 <td>Sumatera Barat</td>
 <td align="center"><a href="/11/Sumatera Barat">1139</a></td>
 <td align="center"><a href="/12/Sumatera Barat">19</a></td>
 <td align="center"><a href="/16/Sumatera Barat">179</a></td>
 <td align="center">1139</td>
 <td align="center">391</td>
 </tr>,
 <tr>
 <td>33</td>
 <td>Sumatera Selatan</td>
 <td align="center"><a href="/11/Sumatera Selatan">3188</a></td>
 <td align="center"><a href="/12/Sumatera Selatan">17</a></td>
 <td align="center"><a href="/16/Sumatera Selatan">231</a></td>
 <td align="center">3194</td>
 <td align="center">53</td>
 </tr>,
 <tr>
 <td>34</td>
 <td>Sumatera Utara</td>
 <td align="center"><a href="/11/Sumatera Utara">6081</a></td>
 <td align="center"><a href="/12/Sumatera Utara">33</a></td>
 <td align="center"><a href="/16/Sumatera Utara">436</a></td>
 <td align="center">6080</td>
 <td align="center">419</td>
 </tr>,
 <tr class="text-center">
 <td class="text-info text-center" colspan="2"><strong>TOTAL</strong> </td>
 <td class="text-info text-center"><strong>82.509</strong></td>
 <td class="text-info text-center"><strong>514</strong></td>
 <td class="text-info text-center"><strong>7.094</strong></td>
 <td class="text-info text-center"><strong>82.505</strong></td>
 <td class="text-info text-center"><strong>18.491</strong></td>
 </tr>]

In [ ]:
from bs4 import BeautifulSoup as bs

list_final = []
list_ret = []
count1 = 0
for row in tableData:
    td_elements = row.find_all('td')
    count = 0
    list_ret = []
    for element in td_elements:

        if (count == 1):
            #print(element)
            list_ret.append(element.text)
        elif (count == 5):
            #print(element)
            list_ret.append(element.text)
        count += 1
    list_final.append(list_ret)
    list_ret = []

list_final.remove(list_final[0])
list_final.remove(list_final[-1])
df1 = pd.DataFrame(list_final, columns=["Provinsi", "Jumlah Desa"])
df1

                          Provinsi Jumlah Desa
0                             Bali         716
1                  Bangka Belitung         387
2                           Banten        1551
3                         Bengkulu        1513
4                    DI Yogyakarta         438
5                      DKI Jakarta         267
6                        Gorontalo         729
7                            Jambi        1561
8                       Jawa Barat        5960
9                      Jawa Tengah        8559
10                      Jawa Timur        8499
11                Kalimantan Barat        1997
12              Kalimantan Selatan        2007
13               Kalimantan Tengah        1572
14                Kalimantan Timur        1029
15                Kalimantan Utara         482
16                  Kepulauan Riau         416
17                         Lampung        2640
18                          Maluku        1224
19                    Maluku Utara        1180
20  Nanggroe Aceh Darussalam (NAD)        6474
21       Nusa Tenggara Barat (NTB)        1137
22       Nusa Tenggara Timur (NTT)        3268
23                           Papua        5225
24                     Papua Barat        1715
25                            Riau        1835
26                  Sulawesi Barat         647
27                Sulawesi Selatan        3038
28                 Sulawesi Tengah        2007
29               Sulawesi Tenggara        2197
30                  Sulawesi Utara        1822
31                  Sumatera Barat        1139
32                Sumatera Selatan        3194
33                  Sumatera Utara        6080

# **Step 2(df2):**
ambil url https://www.mediailmupengetahuan.com/2020/11/34-kode-provinsi-di-indonesia.html untuk mendapatkan data "provinsi" dan "kode wilayah", lalu disimpan di df2

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import re

url = 'https://www.mediailmupengetahuan.com/2020/11/34-kode-provinsi-di-indonesia.html'
response = requests.get(url)

# Parse the response content using BeautifulSoup
html_page = bs(response.content, 'html.parser')

# Find the list items containing city names and numbers using a regular expression
pattern = re.compile(r'<li>([^:]+): (\d+)</li>')
matches = pattern.findall(str(html_page))

# dictionary to store data
city_data = {}

# Iterate through the matches and store the data in the dictionary
for match in matches:
    city_name, city_number = match
    city_data[city_name.strip()] = int(city_number)

# Print the extracted data
for city, number in city_data.items():
    print(f'{city}: {number}')

ACEH: 11
SUMATERA UTARA: 12
SUMATERA BARAT: 13
RIAU: 14
JAMBI: 15
SUMATERA SELATAN: 16
BENGKULU: 17
LAMPUNG: 18
KEPULAUAN BANGKA BELITUNG: 19
KEPULAUAN RIAU: 21
DKI JAKARTA: 31
JAWA BARAT: 32
JAWA TENGAH: 33
DAERAH ISTIMEWA YOGYAKARTA: 34
JAWA TIMUR: 35
BANTEN: 36
BALI: 51
NUSA TENGGARA BARAT: 52
NUSA TENGGARA TIMUR: 53
KALIMANTAN BARAT: 61
KALIMANTAN TENGAH: 62
KALIMANTAN SELATAN: 63
KALIMANTAN TIMUR: 64
KALIMANTAN UTARA: 65
SULAWESI UTARA: 71
SULAWESI TENGAH: 72
SULAWESI SELATAN: 73
GORONTALO: 75
SULAWESI BARAT: 76
MALUKU: 81
MALUKU UTARA: 82
P A P U A: 91
PAPUA BARAT: 92

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import re

url = 'https://www.mediailmupengetahuan.com/2020/11/34-kode-provinsi-di-indonesia.html'
response = requests.get(url)

html_page = bs(response.content, 'html.parser')

# find provinsi and kode wilayah
pattern = re.compile(r'<li>([^:]+): (\d+)</li>')
matches = pattern.findall(str(html_page))

# dictionary to store data
city_data = []
city_row = []

# Iterate through the matches and store the data in the dictionary
for match in matches:
    city_name, city_number = match
    text_without_whitespace = re.sub(r'\s', '', city_name)
    if (city_name == 'P A P U A '):
        city_name = 'PAPUA'
        city_row.append(city_name)
        city_row.append(city_number)
        print(city_name)
    else:
        city_row.append(city_name)
        city_row.append(city_number)
    city_data.append(city_row)
    city_row = []

df2 = pd.DataFrame(city_data, columns=["Provinsi", "Code_Daerah"])
df2

PAPUA

                      Provinsi Code_Daerah
0                         ACEH          11
1               SUMATERA UTARA          12
2              SUMATERA BARAT           13
3                         RIAU          14
4                       JAMBI           15
5             SUMATERA SELATAN          16
6                    BENGKULU           17
7                     LAMPUNG           18
8    KEPULAUAN BANGKA BELITUNG          19
9              KEPULAUAN RIAU           21
10                DKI JAKARTA           31
11                 JAWA BARAT           32
12                JAWA TENGAH           33
13  DAERAH ISTIMEWA YOGYAKARTA          34
14                 JAWA TIMUR           35
15                     BANTEN           36
16                       BALI           51
17        NUSA TENGGARA BARAT           52
18        NUSA TENGGARA TIMUR           53
19            KALIMANTAN BARAT          61
20          KALIMANTAN TENGAH           62
21         KALIMANTAN SELATAN           63
22           KALIMANTAN TIMUR           64
23           KALIMANTAN UTARA           65
24             SULAWESI UTARA           71
25            SULAWESI TENGAH           72
26           SULAWESI SELATAN           73
27                  GORONTALO           75
28             SULAWESI BARAT           76
29                      MALUKU          81
30                MALUKU UTARA          82
31                       PAPUA          91
32                 PAPUA BARAT          92

# **Step 3(df3):**
 ambil df1 dan df2 untuk dijoin dengan key join provinsi untuk mendapatkan data "provinsi", "jumlah desa", dan "kode daerah", lalu menyimpan di df3

In [ ]:
!pip install fuzzywuzzy
# Buat library detect kesamaan String

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.10/dist-packages (0.18.0)

In [ ]:
from fuzzywuzzy import fuzz, process

name_mapping = {}

# similarity threshold
threshold = 50

for name1 in df1['Provinsi']:
    best_match = process.extractOne(name1, df2['Provinsi'])

    if best_match[1] >= threshold:
        name_mapping[name1] = best_match[0]


merged_df = df1.copy()
merged_df['Matching_Provinsi'] = merged_df['Provinsi'].map(name_mapping)


final_result = merged_df.merge(df2, left_on='Matching_Provinsi', right_on='Provinsi', how='inner')


final_result = final_result.drop(columns='Matching_Provinsi')
df3 = final_result.drop(columns='Provinsi_y')
df3
print(df3)

df3.to_excel('output_df3.xlsx', index=False)

                        Provinsi_x Jumlah Desa Code_Daerah
0                             Bali         716          51
1                  Bangka Belitung         387          19
2                           Banten        1551          36
3                         Bengkulu        1513          17
4                    DI Yogyakarta         438          34
5                      DKI Jakarta         267          31
6                        Gorontalo         729          75
7                            Jambi        1561          15
8                       Jawa Barat        5960          32
9                      Jawa Tengah        8559          33
10                      Jawa Timur        8499          35
11                Kalimantan Barat        1997          61
12              Kalimantan Selatan        2007          63
13               Kalimantan Tengah        1572          62
14                Kalimantan Timur        1029          64
15                Kalimantan Utara         482          65
16                  Kepulauan Riau         416          21
17                         Lampung        2640          18
18                          Maluku        1224          81
19                    Maluku Utara        1180          82
20  Nanggroe Aceh Darussalam (NAD)        6474          11
21       Nusa Tenggara Barat (NTB)        1137          52
22       Nusa Tenggara Timur (NTT)        3268          53
23                           Papua        5225          91
24                     Papua Barat        1715          92
25                            Riau        1835          14
26                  Sulawesi Barat         647          76
27                Sulawesi Selatan        3038          73
28                 Sulawesi Tengah        2007          72
29               Sulawesi Tenggara        2197          72
30                  Sulawesi Utara        1822          71
31                  Sumatera Barat        1139          13
32                Sumatera Selatan        3194          16
33                  Sumatera Utara        6080          12

# **step 4(df4):**
ambil data excel data_seki.xlsx dan dibuat menjadi table yang memiliki data kode provinsi, provinsi, jumlah desa, casa size dan lending volume, lalu disimpan di df4

In [ ]:
import pandas as pd

df = pd.read_excel(open('data_seki.xlsx', 'rb'),sheet_name='data seki', skiprows=1)
df

df['Casa Size'] = (df['seki_1_19'] + df['seki_1_20']).round(0).astype(int)
df['Lending Volume'] = (df['seki_1_12'] + df['seki_1_13']).round(0).astype(int)
df[['Bulan', 'Tahun']] = df['Posisi'].str.split("'", expand=True)

month_mapping = {
    'Jan': 'Januari',
    'Feb': 'Februari',
    'Mar': 'Maret',
    'Apr': 'April',
}

month_mapping_2 = {
    'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04',
    'May': '05', 'Jun': '06', 'Jul': '07', 'Aug': '08',
    'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
}

#Output of the column
df['Bulan'] = df['Bulan'].map(month_mapping)
df['provinsi'] = df['Provinsi']
df['Tahun'] = "20" + df['Tahun']
df['MMYYYY'] =  df['Bulan'].str[:3].map(month_mapping_2) + df['Tahun']

#Rearrange the columns
df4 = df[['provinsi', 'Casa Size', 'Lending Volume', 'Bulan', 'Tahun', 'MMYYYY']]
df4
print(df4)

df4.to_excel('output_df4.xlsx', index=False)

                     provinsi  Casa Size  Lending Volume    Bulan Tahun  \
0    Nanggroe Aceh Darussalam      74795           90469  Januari  2023
1              Sumatera Utara     572144          453003  Januari  2023
2              Sumatera Barat      99642          137720  Januari  2023
3                        Riau     220476          259671  Januari  2023
4                       Jambi      80946          118428  Januari  2023
..                        ...        ...             ...      ...   ...
127                    Maluku      30103           39133    April  2023
128                     Papua      92759           82807    April  2023
129               Papua Barat      35739           41517    April  2023
130            Sulawesi Barat      13039           30469    April  2023
131            Kepulauan Riau     145747          127572    April  2023

     MMYYYY
0    012023
1    012023
2    012023
3    012023
4    012023
..      ...
127  042023
128  042023
129  042023
130  042023
131  042023

[132 rows x 6 columns]

# **step 5(df_final):**

join df3 dan df4 untuk mendapatkan final output, lalu disimpan di df_final dan excel output : final_ouput.xlsx

In [ ]:
from fuzzywuzzy import fuzz, process

name_mapping = {}

# Set a similarity threshold
threshold = 50

for name1 in df3['Provinsi_x']:
    if name1 == 'Kalimantan Barat':
        name_mapping[name1] = '1'
    else:
        best_match = process.extractOne(name1, df4['provinsi'].str.strip())
        if best_match[1] >= threshold:
            name_mapping[name1] = best_match[0]

# dictionary to store data
city_data = []
city_row = []


merged_df = df3.copy()
merged_df['Matching_Provinsi'] = merged_df['Provinsi_x'].map(name_mapping)
final_result = merged_df.merge(df4, left_on='Matching_Provinsi', right_on='provinsi', how='inner')
#final_result = df3.merge(df4, left_on='Provinsi_x', right_on='provinsi', how='left')

# Drop table that don't need
final_result = final_result.drop(columns='Matching_Provinsi')
df_final = final_result.drop(columns='Provinsi_x')

# Reorder columns
df_final = df_final[['Code_Daerah', 'provinsi', 'Jumlah Desa', 'Casa Size', 'Lending Volume', 'Bulan', 'Tahun', 'MMYYYY']]

# Rename columns to match df4's columns
df_final = df_final.rename(columns={'Code_Daerah': 'Kode Provinsi', 'provinsi': 'Provinsi', 'MMYYYY': 'Posisi'})

# Remove numbers and characters from the 'Provinsi' column
df_final['Provinsi'] = df_final['Provinsi'].str.replace(r'[^a-zA-Z\s]', '', regex=True)

# Order table based on posisi and provinsi
df_final = df_final.sort_values(by=['Posisi', 'Provinsi'], ascending=[True, True])

# Reset the index after sorting
df_final = df_final.reset_index(drop=True)

# Print the sorted DataFrame
df_final
print(df_final)

df_final.to_excel('final_ouput.xlsx', index=False)

    Kode Provinsi           Provinsi Jumlah Desa  Casa Size  Lending Volume  \
0              51               Bali         716     259683          228407
1              19    Bangka Belitung         387      50778           36342
2              36             Banten        1551     539737          776133
3              17           Bengkulu        1513      31244           60036
4              34      DI Yogyakarta         438     164551          125982
..            ...                ...         ...        ...             ...
127            72  Sulawesi Tenggara        2197      60079           78787
128            71     Sulawesi Utara        1822      57652          100839
129            13     Sumatera Barat        1139     101211          142756
130            16   Sumatera Selatan        3194     205623          274055
131            12     Sumatera Utara        6080     578278          462537

       Bulan Tahun  Posisi
0    Januari  2023  012023
1    Januari  2023  012023
2    Januari  2023  012023
3    Januari  2023  012023
4    Januari  2023  012023
..       ...   ...     ...
127    April  2023  042023
128    April  2023  042023
129    April  2023  042023
130    April  2023  042023
131    April  2023  042023

[132 rows x 8 columns]

# **Kesimpulan** :

**step 1(df1)**:
ambil url https://kodeposonline.com/ untuk mendapatkan data "provinsi" dan "jumlah desa", lalu menyimpannya di df1

**step 2(df2)**:  ambil url https://www.mediailmupengetahuan.com/2020/11/34-kode-provinsi-di-indonesia.html untuk mendapatkan data "provinsi" dan "kode wilayah", lalu disimpan di df2

**step 3(df3)**: ambil df1 dan df2 untuk dijoin dengan key join provinsi untuk mendapatkan data "provinsi", "jumlah desa", dan "kode daerah", lalu menyimpan di df3

**step 4(df4)**: ambil data excel data_seki.xlsx dan dibuat menjadi table yang memiliki data kode provinsi, provinsi, jumlah desa, casa size dan lending volume, lalu disimpan di df4

**step 5(df_final)**: join df3 dan df4 untuk mendapatkan final output, lalu disimpan di df_final dan excel output : final_ouput.xlsx